---
import { Image } from "astro:assets"
import bgL from "../assets/HeaderBGL.svg"
import bgR from "../assets/HeaderBGR.svg"

const images = await Astro.glob(
  "/src/assets/galeria/Kompleksowe wykończenia wnętrz/*.{jpeg,jpg,png}"
).then(files => files.map(file => file.default))

const images2 = await Astro.glob(
  "/src/assets/galeria/Rekuperacja i klimatyzacja/*.{jpeg,jpg,png}"
).then(files => files.map(file => file.default))
---

<div class="gallery wrapper">
  <div class="heading">
    <Image src={bgL} alt="Left side of heading" loading="eager" />
    <div class="heading__title">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22.5495 4.64455C19.2992 1.41941 12.6752 1.05826 8.87746 4.88112C8.2546 5.49084 8.36718 6.18798 8.7906 6.61141C9.08946 6.92284 9.56203 7.05998 10.0106 6.92284C12.6626 6.08855 15.1157 6.01426 17.0706 7.45826L16.0249 10.2474C15.626 11.3308 15.838 12.0903 16.5477 12.8126L19.4237 15.7011C19.9969 16.2863 20.6317 16.4611 21.466 16.2611L23.4832 15.8005L24.4546 16.772L24.2923 18.1914C24.2055 18.7766 24.2797 19.1377 24.7906 19.6486L25.762 20.5823C26.2969 21.1177 26.982 21.1674 27.4923 20.6565L31.4895 16.6851C31.9997 16.1743 31.9249 15.4897 31.402 14.9417L30.4432 13.9828C29.9575 13.4845 29.5717 13.3851 29.0112 13.4726L27.5797 13.6468L26.5957 12.7006L27.1935 10.5588C27.3803 9.86169 27.1437 9.21369 26.3963 8.47884L22.5495 4.64455ZM1.26889 25.6C0.0626028 26.6708 -0.000254244 27.7914 1.12089 28.9246L3.10032 30.892C4.20832 32 5.36603 31.9377 6.42489 30.7423L18.4152 17.2823L14.7295 13.6091L1.26889 25.6Z"
          fill="#0B0A05"></path>
      </svg>
      <h2>Kompleksowe wykończenia wnętrz</h2>
    </div>
    <Image src={bgR} alt="Right side of heading" loading="eager" />
  </div>
  <div class="gallery__grid">
    {
      images.map(image => {
        return <Image src={image} alt="Galeria kategorii" loading="lazy" />
      })
    }
  </div>
</div>

<div class="gallery wrapper">
  <div class="heading">
    <Image src={bgL} alt="Left side of heading" loading="eager" />
    <div class="heading__title">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22.5495 4.64455C19.2992 1.41941 12.6752 1.05826 8.87746 4.88112C8.2546 5.49084 8.36718 6.18798 8.7906 6.61141C9.08946 6.92284 9.56203 7.05998 10.0106 6.92284C12.6626 6.08855 15.1157 6.01426 17.0706 7.45826L16.0249 10.2474C15.626 11.3308 15.838 12.0903 16.5477 12.8126L19.4237 15.7011C19.9969 16.2863 20.6317 16.4611 21.466 16.2611L23.4832 15.8005L24.4546 16.772L24.2923 18.1914C24.2055 18.7766 24.2797 19.1377 24.7906 19.6486L25.762 20.5823C26.2969 21.1177 26.982 21.1674 27.4923 20.6565L31.4895 16.6851C31.9997 16.1743 31.9249 15.4897 31.402 14.9417L30.4432 13.9828C29.9575 13.4845 29.5717 13.3851 29.0112 13.4726L27.5797 13.6468L26.5957 12.7006L27.1935 10.5588C27.3803 9.86169 27.1437 9.21369 26.3963 8.47884L22.5495 4.64455ZM1.26889 25.6C0.0626028 26.6708 -0.000254244 27.7914 1.12089 28.9246L3.10032 30.892C4.20832 32 5.36603 31.9377 6.42489 30.7423L18.4152 17.2823L14.7295 13.6091L1.26889 25.6Z"
          fill="#0B0A05"></path>
      </svg>
      <h2>Rekuperacja i klimatyzacja</h2>
    </div>
    <Image src={bgR} alt="Right side of heading" loading="eager" />
  </div>
  <div class="gallery__grid">
    {
      images2.map(image => {
        const alt = image.src.split("/")
        return <Image src={image} alt={alt[alt.length - 1]} loading="lazy" />
      })
    }
  </div>
</div>

<div class="preview">
  <div class="preview__container">
    <img id="preview__img" src="/Logo-Light.png" alt="preview" />
  </div>
</div>

<style>
  .gallery {
    margin-bottom: 4rem;
  }

  .heading {
    display: flex;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .heading__title {
    display: flex;
    z-index: 1;
    position: relative;
    background-color: var(--clr-secondary);
    flex-basis: 100%;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  .heading__title svg {
    flex-basis: 3rem;
  }

  .gallery__grid {
    display: grid;
    margin-top: 1.5rem;
    gap: 1.5rem;
  }

  .gallery__grid > * {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25)) grayscale(1);
    transition: filter 250ms ease-in-out;
  }

  .gallery__grid > *:hover {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25)) grayscale(0);
  }

  .preview {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    place-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 125ms ease-in-out;
  }

  .preview.open {
    opacity: 1;
    pointer-events: all;
  }

  .preview__container {
    position: absolute;
    inset: 1.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .preview__container img {
    width: max-content;
    height: max-content;
    object-fit: contain;
    border: 4px solid white;
    border-radius: 4px;
  }

  @media (min-width: 60rem) {
    .heading__title {
      font-size: 1.25rem;
    }

    .gallery__grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .preview__container img {
      max-height: 100%;
    }
  }
</style>

<script>
  const images = document.querySelectorAll(".gallery__grid img")
  const previewImg: any = document.querySelector("#preview__img")
  const preview = document.querySelector(".preview")

  images.forEach(image => {
    image.addEventListener("click", (img: any) => {
      previewImg.src = img.target.attributes.src.value
      preview?.classList.add("open")
    })
  })

  preview?.addEventListener("click", () => {
    preview?.classList.remove("open")
  })
</script>
